TELEGRAM_API_ID=adicione_aqui_os_numeros
TELEGRAM_API_HASH=adicione_aqui_a_hash_alfanumerica
TELEGRAM_TARGET_USERNAME=username_do_bot_alvo_que_manda_as_mensagens (exemplo: @BotMilionario)

# Opcional: Credenciais da Bolsa de Aposta para login automático
BOLSA_USERNAME=seu_usuario_aqui
BOLSA_PASSWORD=sua_senha_aqui

# Opcional: Configurações do crawler (caso o site atualize as ligas/iframe futuramente)
TARGET_LEAGUE_NAME=gt leagues
TARGET_IFRAME_DOMAIN=fssb.io
